<script src="~/lib/plugins/orgchart/js/jquery.orgchart.js"></script>
<link href="~/lib/plugins/orgchart/css/jquery.orgchart.css" rel="stylesheet" />
<div id="chart-container" style="height:600px;overflow: auto"></div>
<script src="~/app/system/organization/orgchart.js"></script>
<style>
    .orgchart {
        background: #fff; 
    }
    .content {
        min-height: 0px;
    }
    .orgchart.l2r {
        position: static;
    }
</style>