@{
    ViewBag.Title = "系统菜单";
    Layout = "~/Views/Shared/_LayoutPageBaseList.cshtml";
}
<div class="row">
    <div class="col-md-3 padding-right-box">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">菜单结构</h3>
                <div class="box-tools pull-right">
                    <button id="reload" title="刷新" data-toggle="tooltip" class="btn btn-flat btn-sm eip-btn">
                        <i class="fa fa-refresh">刷新</i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <ul id="tree" class="jstree"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-9 padding-left-zero">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">菜单结构列表</h3>
                <div class="box-tools pull-right" id="table-toolbar">
                    <div class="input-group" id="search-filters">
                        <input type="text" search-type="cn" search-field="menu.Name,menu.Area,menu.Controller,menu.Action,menu.OpenUrl,menu.Remark" data-toggle="tooltip" title="名称/区域/控制器/方法/地址/备注查询..." class="filter form-control input-sm" placeholder="名称/区域/控制器/方法/地址查询...">
                        <div class="input-group-btn">
                            <button id="search" class="btn btn-sm eip-btn">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table id="list"></table>
            </div>
        </div>
    </div>
</div>

<script src="~/app/system/menu/list.js"></script>

<script type="text/html" id="templetHaveMenuPermission">
    <small class="label label-{{ d.HaveMenuPermission ? 'success' : 'danger' }}">{{ d.HaveMenuPermission ? '有权限' : '无权限' }}</small>
</script>

<script type="text/html" id="templetHaveDataPermission">
    <small class="label label-{{ d.HaveDataPermission ? 'success' : 'danger' }}">{{ d.HaveDataPermission ?   '有权限' : '无权限' }}</small>
</script>

<script type="text/html" id="templetHaveFunctionPermission">
    <small class="label label-{{ d.HaveFunctionPermission ? 'success' : 'danger' }}">{{ d.HaveFunctionPermission ? '有权限' : '无权限'}}</small>
</script>

<script type="text/html" id="templetHaveFieldPermission">
    <small class="label label-{{ d.HaveFieldPermission ? 'success' : 'danger' }}">{{ d.HaveFieldPermission ? '有权限' : '无权限'}}</small>
</script>

<script type="text/html" id="templetIsShowMenu">
    <small class="label label-{{ d.IsShowMenu ? 'success' : 'danger' }}">{{ d.IsShowMenu ? '显示' : '不显示' }}</small>
</script>
