<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/css/user/avatar.jpg" class="img-circle" title="点击切换头像" id="headImage">
            </div>
            <div class="pull-left info">
                <span>欢迎您,</span>
                <p style="padding-top: 10px" id="user-name-sidebar"></p>
            </div>
        </div>
        <ul class="sidebar-menu"></ul>
    </section>
</aside>
<script src="~/app/console/home/sidebar.js"></script>