<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">修改密码</h3>
                <span class="text-red pull-right">注：带*号的为必填信息！</span>
            </div>
            <form id="defaultForm" method="post" class="form-horizontal">
                <div class="box-body">
                    <div class="col-md-7">
                        <div class="form-group has-feedback">
                            <label for="name-code" class="col-sm-3 control-label">姓名(帐号)</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name-code" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label m">旧密码</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="Param" name="Param" placeholder="请输入旧密码"
                                       required
                                       data-fv-message="旧密码不能为空"
                                       data-fv-notempty-message="旧密码不能为空">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label m">新密码</label>

                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="请输入新密码"
                                       required
                                       data-fv-notempty-message="新密码不能为空"
                                       data-fv-different="true"
                                       data-fv-different-field="Param"
                                       data-fv-different-message="新密码不能和旧密码一样">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码强度</label>
                            <div id="level" class=" col-sm-9 pw-strength" style="">
                                <div class="pw-bar"></div>
                                <div class="pw-bar-on"></div>
                                <div class="pw-txt">
                                    <span>弱</span>
                                    <span>中</span>
                                    <span>强</span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label m">确认新密码</label>

                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="请输入确认新密码"
                                       required
                                       data-fv-notempty-message="确认新密码不能为空"
                                       data-fv-identical="true"
                                       data-fv-identical-field="newPassword"
                                       data-fv-identical-message="两次新密码不一致">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="reset" class="btn btn-warning pull-right fa fa-refresh">清空</button>
                    <button type="submit" class="btn btn-info pull-right fa fa-save">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<link href="~/css/changepassword/css/style.css" rel="stylesheet" />
<script src="~/app/console/home/changepassword.js"></script>


